<div class="title">NINTENDO SWITCH OLED</div>
<div class="product">
    <div class="image-container"><img src="assets/switch oled.jpg" alt=""></div>
    <div class="text-product">
        <div class="subtitle">Nintendo Switch (Modelo OLED)</div>
        <div class="description">Te presentamos la última consola que se une a la familia Nintendo Switch.La nueva consola cuenta con una vibrante pantalla OLED de 7 pulgadas (17.78 cm), un soporte ajustable y amplio, una base con puerto LAN para conexión por cable, almacenamiento interno de 64 GB y audio mejorado.</div>
    </div>
</div>

<button>Agregar al carrito</button>